body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.App {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

.theme-dark {
  background: #282c34;
  color: white;
}